.btn-action {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-action img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.edit {
    background-color: #6ccbe7; 
    color: white;
}

.edit:hover {
    background-color: #6ccbe7;
    transform: scale(1.05);
}

.delete {
    background-color: #f44336; 
    color: white;
}

.delete:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}