.encabezado {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.encabezado a {
    background-color: #0b5471;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 10px;
}

.encabezado a:hover {
    background-color: rgb(10, 60, 80);
}

.filter-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.filter-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-container input,
.filter-container select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    flex: 1;
    min-width: 150px;
    transition: border-color 0.3s ease;
}

.filter-container input:focus,
.filter-container select:focus {
    border-color: #0099ff;
    outline: none;
}

.filter-container button {
    background-color: #0b5471;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.filter-container button:hover {
    background-color:rgb(10, 60, 80);
}

@media (max-width: 768px) {
    .filter-container form {
        flex-direction: column;
    }

    .filter-container input,
    .filter-container select,
    .filter-container button {
        width: 100%;
        margin-bottom: 10px;
    }

    .encabezado {
        flex-direction: column;
        gap: 10px;
    }
}